
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.selectedPage {
    color:#1c1c1d;
    border-bottom: #1c1c1d solid 1px;
    margin-right: 10px;
}

.number {
    margin-right: 10px;
    cursor: pointer;
}

.pagesCount {
    margin:  20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #1c1c1d;
}

.card {
    color: #1c1c1d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 300px;
    padding: 10px;
    height: 120px;
    margin-top: 10px;
    margin-right: 80px;
}

.cardWrapper {
    border-bottom: 1px solid #1c1c1d;
    width: 300px;
    margin-top: 50px;
}

.imageWrapper {
    width: 100px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
}

.inform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beersName {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.beersDescription {
    font-size: 13px;
    font-weight: 400;
}

.beerImage {
    background-size: cover;
    background-position: center center;
    height: 50%;
}

.link {
    text-decoration: none;
    color: inherit;
}
