.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.description, .tagline, .food_pairing, .abv, .name, .closeButton {
    color: #606366;
}

.name {
    font-size: 24px;
}


.closeButton {
    font-size: 14px;
    background: none;
    border: none;
}

.buttonBlock {
    align-self: flex-end;
}

.imageBlock {
    height: 400px;
}

.image {
    background-size: cover;
    background-position: center center;
    height: 60%;
}

.tagline {
    margin-top: 50px;
} 

.food_pairing {
    margin-top: 30px;
} 

.description {
    font-style: italic;
}

.abv {
    margin-top: 30px;
}

.topBlock {
    margin-top: 30px;
}

.topBlock, .botomBlock, .buttonBlock {
    margin-left: 50px;
    margin-right: 50px;
}

.botomBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.informBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
